<!DOCTYPE html>
<html ng-app='picto'>
  <head>
    <meta charset="utf-8"/>
    <title> Picto </title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>
  <body>
    <h1> picto </h1>
    <div ng-controller='pictureController' ng-keydown='key($event)'>
        <!-- <h4> all categories </h4> -->
        <div align='center'>
          <select ng-options='option for option in names' ng-model='selectedItem' ng-change='selectedItemChanged()' value='names'>
          </select>
          <select ng-options='number for number in rating' ng-model='ratingNum' ng-change='ratingChanged()' value='test'>
          </select>
        </div>
    <br>
        <h2> {{currentTitle}} {{event}} </h2>
        <div class='pictures' align='center'>
          <span class='left' ng-click='leftClick()'> Left </span>
          <img align='center' ng-src='{{selectedItem}}'>
          <span class='right' ng-click='rightClick()'> Right </span>
        </div>
        <div>
          <h2> {{ratingTitle}} {{currentRating}} </h2>
        </div>
        <div class='upload'> Upload your own picto! </div>
        <form name='upload'>
          <input align='center' type='text' name='title' placeholder='Pic Name' ng-model='picName'>
          <input align='center' type='text' name='url' placeholder='Pic Link' ng-model='picLink'>
          <input align='center' type='number' name='rating' placeholder='Pic Rating' ng-model='picRating'>
          <div class='button'>
            <button align='center' ng-click='picUpload()'> Upload </button>
            <button align='center' ng-click='allPics()'> Get </button>
          </div>
        </form>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/pictures/pictures.js"></script>
  </body>
</html>
