html, body {
  height: 10%;
}

/*html {
  display: table;
  margin: auto;
}*/

body {
  background-color: #10ADED;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

h1 {
  font-size: 80px;
  margin-top: -35px;
  margin-bottom: -20px;
}

/*img {
  border-radius: 55%;
}*/

h4 {
  font-size: 29px;
  margin-top: -40px;
  margin-bottom: -1px;
}

h2 {
  font-size: 27px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: -10px;
}

h1, h2, h4 {
  text-align: center;
}

select {
  text-align: center;
  margin: 0 auto;
}

.upload {
  text-align: center;
}

.pictures {

}

.left, .right {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
}

.button {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

form {
  margin: 0 auto;
  width:270px;
}